<!DOCTYPE html>
<html>

<head>
  <title>Crypto</title>
</head>

<body>
  <header>
    <nav>
      <a>Some link</a>
    </nav>
  </header>
  <div class="container">
    {{{body}}}
  </div>
</body>

</html>